/*---- General ----*/

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

/*----- Header -----*/

header {
  height: 350px;
}

header img {
  width: 100%;
  height: 100%;
}

/*-------- Card -----*/

.card img {
  width: 100%;
  height: 250px;
  border-radius: 26px 26px 0 0;
}

.card {
  padding-bottom: 1rem;
  border: 1px solid black;
  border-radius: 25px;
}

/*-------------- END ----------*/

#appbundle_recipe_ingredient5 {
  display: none;
}
